<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.ProductCategory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="category_type" property="categoryType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <select id="findByCategoryTypeIn" resultMap="BaseResultMap" parameterType="java.util.List">
        SELECT category_id,category_name,category_type,create_time,update_time
        FROM product_category
        <where>
            <if test="null!=list">
                  category_type IN
            <foreach collection="list" index="i" item="id" open="(" separator="," close=")">
                  #{id}
            </foreach>
            </if>
        </where>
    </select>
</mapper>